/*

filename: style

author: Yousaff Mohammad

created: 24/09/2025

last modified: 24/09/2025

description: jobs style sheet for html in assignment1

*/

/* Responsive layout for smaller screens */
article {
  min-width: 30em;
}

/* Global font and color settings */
* {
  font-family: "Rubik mono one", Helvetica, Verdana, sans-serif;
  color: black;
}

/* Heading style for all three levels */
h1 {
  color: #982929;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  color: #982929;
  font-size: 1.5em;
}

h3 {
  color: #8b4946;
  font-size: 1.2em;
}

/* Horizontal line separating footer */
footer {
  border-top: 4px double darkgray;
  clear: both;
}

/* Aside Styling */
aside {
  border: 3px solid #8b4946;
  border-radius: 14px;
  margin: 3em;
  padding: 1em;
  width: 25%;
  float: right;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-weight: bold;
}

/* Hovering effect for aside */
aside:hover {
  transition: transform 0.5s;
  transform: translateY(-10px);
}

/* Logo styling */
#logo {
  width: 10%;
  margin: 2%;
}

/* footer styling */
footer p {
  font-style: italic;
  display: inline-block;
  width: 33%;
}

/* Navigation Menu */
.menu {
  display: inline-block;
  background-color: white;
}

/* When hovering over menu */
nav p :hover {
  background-color: #f8d2d5;
}

/* Styling for anchor in navigation menu */
nav a {
  text-decoration: none;
  padding: 0.2em 0.6em;
  border: 4px solid #ccc;
}

/* footer styling */
footer p {
  font-style: italic;
  display: inline-block;
  width: 33%;
}

footer p:first-child {
  float: left;
}

footer p:nth-child(2) {
  text-align: center;
}

footer p:last-child {
  float: right;
  text-align: right;
}

/* Image styling */
#image {
  float: right;
  transform: scale(0.75);
  width: 45%;
}

/* Job 2 Section styling */
#section_two {
  float: left;
}
