/*

filename: global style for assignment1

author: Ayon Ahammed

created: 23/09/2025

last modified: 26/09/2025 by YY

description: style sheet for index of assignment1

*/

/* 
following is the header and navigation panel 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    min-width: 350px;
}

.logo {
    width: 10em;
    height: auto;
}

/* Navigation menu style */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: red;
}

/* Heading style for all three levels */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

article {
    padding: 5%;
}

#main {
    background-image: url(images/building.png); background-size: cover;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
}

#main_heading {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: black;
    margin: 0;
    padding: 1em;
    align-self: center;
}

/* article padding */
article {
    padding: 5px;
}

/* index page style */

.cards_container {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 5px;
    padding: 5em;
    margin: 5%;
    background-color: whitesmoke;
    opacity: 0.9;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.cards_container:hover {
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.3);
}
.card_left {
grid-column-start: 1;
}
.card_right {
    grid-column-start: 2;
}

/* Images */

.theme_image {
    width: 100%;
}

/* Form prompt text styles */
.prompt {
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
}

form div {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.asterisk {
    color: #982929;
}

label {
    max-width: 350px;
    display: inline-block;
    text-align: right;
}

#radio_label,
#skills p label {
    text-align: left;
    margin-right: 10px;
}
/* Footer style */
footer {
    margin: 5%;
    padding: 1em;
}

footer p {
    font-style: italic;
    display: inline-block;
    width: 33%;
}

footer p:first-child {
    float: left;
}

footer p:nth-child(2) {
    text-align: center;
}

footer p:last-child {
    float: right;
    text-align: right;
}
footer a {
    text-decoration: none;
    color: black;
}

/* Button style */
.button {
    color: white;
    background-color: black;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: red;
    color: white;
}

/* Inline link style */
.inline_link {
    color: rgb(0,0,0);
}

.inline_link:hover {
    text-decoration: underline;
}

/* Job section */
#section_two {
  float: left;
}